---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor, getRandomPlaceholder } from "../../utils/image";
import { getRecipe, getRecipes } from "../../utils/sanity";

export async function getStaticPaths() {
  const recipes = await getRecipes();
  return recipes.map((recipe) => ({
    params: { slug: recipe.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const recipe = await getRecipe(slug);
const placeholder = await getRandomPlaceholder(recipe.title);
console.log(placeholder);
---

<Layout title={recipe.title!}>
  <section class="recipe">
    <img id="pin1" src="/pushpins/red.png" alt="pushpin"/>
    <img id="pin2" src="/pushpins/red.png" alt="pushpin"/>
    <div class="recipe__header">
    {
      recipe.mainImage ? (
        <img
          class="recipe__cover"
          src={urlFor(recipe.mainImage).url()}
          alt="Cover image"
        />
      ) : (
        <img class="recipe__cover" src={"/placeholders/" + placeholder} alt="Placeholder">
      )
    }
      <div class="recipe__header__content">
        <h1 class="recipe__title">{recipe.title}</h1>
        <p class="recipe__description">
           { recipe.description && <p>{recipe.description}</p>}
        </p>
        <p style="justify-self: flex-start"><span class="bold">Servings: </span>{ recipe.servings } </p>
        <p style="justify-self: flex-start"><span class="bold">Allergens:</span></p>
        <div class="recipe__header__allergens">
           {recipe.allergens.length && recipe.allergens.map(allergen => (
            <p class="allergen">{allergen}</p>
          ))}
        </div>

      </div>
    </div>
      <div class="recipe__ingredients">
        <h1>Ingredients</h1>
        {recipe.ingredients.length && recipe.ingredients.map((section) => (
          <h3>{section.section}</h3>
          <ul>
            {section.subIngredients.length && section.subIngredients.map(i => (
              <li><input type="checkbox"><span>{i.quantity} {i.unit} {i.name}</span></li>
            ))}
          </ul>
        ))}
      </div>

      <div class="recipe__content">
        <h1>Instructions</h1>
        {recipe.instructionSections.length && recipe.instructionSections.map((section) => (
          <h3>{section.section}</h3>
          <ol>
            {section.instructions.length && section.instructions.map(i => (
              <li>{i}</li> 
            ))}
          </ol>
        ))}
       </ol> 
      </div>
  </section>
</Layout>

<style>
  body {
    background-image: url('/corkboard.png');
    background-repeat: repeat;
  }

  body, html {
    min-height: 100vh;
    width: 100vw;
    font-family: "Lexend Deca";
  }

  .allergen {
    background-color: lightblue;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;

    display: inline;
    margin: 0;
  }
  
  .bold {
    font-weight: bold;
  }

  .recipe {
    margin: auto;

    background-color: white;
    padding: 2rem;

    position: relative;

    & #pin1 {
      position: absolute;
      width: 50px;
      left: -0.5rem;
      top: -1.2rem;
      transform: rotate(-30deg);
    }

    & #pin2 {
      position: absolute;
      width: 50px;
      right: -0.2rem;
      top: -1rem;
      transform: rotate(15deg);
    }



    & .recipe__cover,
    & .recipe__cover--none {
      width: min(250px, 90%);
      height: 250px;
      object-fit: cover;
    }

    & .recipe__header {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;

      & .recipe__header__content {
        flex-basis: 298px;
        flex-grow: 1;

        & p {
          font-size: var(--font-size-3);
        }
      }

      & .recipe__header__allergens {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
      }
    }

    & .recipe__cover--none {
      margin: auto;
      background: var(--black);
    }

    & .recipe__ingredients {
      & ul {
        list-style-type: none;
        padding: 0;
      }

      & li {
        margin: 0.5rem 0;
      }

      & input:checked + span {
        text-decoration: line-through;
      }
    }

    & .recipe__ingredients {
      font-weight: 400;
      font-size: var(--font-size-4);
      line-height: var(--line-height-5);
      letter-spacing: -0.02em;
      margin-top: var(--space-6);
    }

    & .recipe__content {
      font-weight: 400;
      font-size: var(--font-size-4);
      line-height: var(--line-height-5);
      letter-spacing: -0.02em;
      margin-top: var(--space-6);

      /* Targeting tags in PortableText */
      & blockquote {
        border-left: 5px solid var(--black);
        padding-left: var(--space-3);
        margin-left: var(--space-4);
      }

      & a {
        color: var(--blue-600);
        text-decoration: none;
      }
    }

    & .recipe__title {
      font-size: var(--font-size-7);
      line-height: var(--line-height-6);
      margin: 0;
      font-weight: 800;
    }

    & .recipe__excerpt {
      font-size: var(--font-size-5);
      line-height: var(--line-height-4);
      margin-top: 0;
      font-weight: 400;
    }

    & .recipe__date {
      font-weight: 600;
      font-size: var(--font-size-1);
      line-height: var(--line-height-1);
      margin-top: var(--space-4);
    }
  }

  @media (min-width: 800px) {
    .recipe {
      /*& .recipe__cover,
      & .recipe__cover--none {
        width: 750px;
        height: 380px;
      }*/

      & .recipe__title {
        font-size: var(--font-size-10);
        line-height: var(--line-height-10);
        letter-spacing: -0.025em;
      }

      & .recipe__excerpt {
        font-size: var(--font-size-5);
        line-height: var(--line-height-5);
        margin-top: var(--space-3);
        margin-bottom: var(--space-3);
      }

      & .recipe__date {
        font-size: var(--font-size-3);
        line-height: var(--line-height-2);
        margin-top: var(--space-0);
      }

      & .recipe__content {
        margin-top: var(--space-7);
      }
    }
  }

  @media (max-width: 575px) {
    .recipe__cover {
      width: 100% !important;
    }
    .recipe__header__content {
      text-align: center;
    }

    #pin1, #pin2 {
      display: none;
    }
  }
</style>
